/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-white text-black;
}

.animate-slideDown {
  animation: slideDown 3s ease-in-out forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  10%, 90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
