/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220, 20%, 20%;
    --foreground: 0, 0%, 100%;
    --muted: 220, 15%, 30%;
    --muted-foreground: 220, 15%, 70%;
    --card: 220, 20%, 20%;
    --card-foreground: 0, 0%, 100%;
    --popover: 220, 20%, 20%;
    --popover-foreground: 0, 0%, 100%;
    --border: 200, 15%, 50%;
    --input: 200, 15%, 50%;
    --primary: 280, 75%, 60%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 240, 70%, 50%;
    --secondary-foreground: 0, 0%, 100%;
    --accent: 50, 100%, 60%;
    --accent-foreground: 220, 20%, 20%;
    --destructive: 0, 100%, 70%;
    --destructive-foreground: 220, 20%, 20%;
    --ring: 280, 75%, 60%;
  }

  .dark {
    --background: 220, 15%, 10%;
    --foreground: 0, 0%, 90%;
    --muted: 220, 10%, 20%;
    --muted-foreground: 220, 10%, 80%;
    --popover: 220, 15%, 10%;
    --popover-foreground: 0, 0%, 90%;
    --card: 220, 15%, 10%;
    --card-foreground: 0, 0%, 90%;
    --border: 200, 15%, 30%;
    --input: 200, 15%, 30%;
    --primary: 280, 80%, 70%;
    --primary-foreground: 0, 0%, 90%;
    --secondary: 240, 70%, 60%;
    --secondary-foreground: 0, 0%, 90%;
    --accent: 50, 100%, 80%;
    --accent-foreground: 220, 15%, 10%;
    --destructive: 0, 100%, 70%;
    --destructive-foreground: 220, 15%, 10%;
    --ring: 280, 80%, 70%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.bg-gradient-1 {
  background: radial-gradient(circle at center, #050A30, #1F3467, #3D609B);
}

.bg-gradient-2 {
  background: radial-gradient(circle at center, #050A30, #2A165E, #763D8C);
}

.bg-gradient-3 {
  background: radial-gradient(circle at center, #050A30, #3D609B, #C1D6F2);
}

.bg-gradient-4 {
  background: radial-gradient(circle at center, #1F3467, #763D8C, #C1D6F2);
}